.landing_cardDiv {

   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-evenly;
    padding-top: 10rem;
    border-radius: 10px;
    background: #63c5bf;
    box-shadow: 5px 5px 10px #54a7a2,
        -5px -5px 10px #72e3dc;

background-image: url("https://img2.freepng.es/20180124/ifw/kisspng-earth-china-travel-poster-5a68344131aba7.5526459915167785612035.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}


.landing_button {
    color:#184845;
    border-radius: 8px;
    width: 7rem;
    margin-top: 10rem;
    background: linear-gradient(315deg, #e2b371, #ffd587);
    box-shadow:  -8px -8px 18px #daad6e,
                 8px 8px 18px #ffe18e;
                 cursor: pointer;
}