.paginator_nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width:100vw;
  
    }
    
    .paginator_ul{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        padding: 3rem;
        justify-content: center;
        border-radius: 18px;
        list-style-type: none;
        
    
    }
    
    .paginatorNumbers_li{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 3rem;
    padding: 0.5rem;
    margin:0.4rem;
    border-style: none;
    border-radius: 7px;
    background: linear-gradient(145deg, #e6cbb3, #fff2d5);
    box-shadow:  7px 7px 7px #d9c0a9,
                 -7px -7px 7px #ffffe5;
    }
    
    .paginatorNumbers_li:hover{
        color:#37e7c1b3;
    }